<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="TimerLimit" value="00:10:00" />
        <add key="Bleeper" value="Resources\bleeper.wav" />
        <add key="PanelWindowBackground" value="#000000" />
        <add key="PanelWindowForeground" value="#00ff00" />
        <add key="TimerWindowBackgroundImage" value="Resources\background.png" />
        <add key="PanelWindowScreen" value="1" />
        <add key="TimerWindowScreen" value="1" />
        <add key="UIUpdateIntervalMs" value="200" />
    </appSettings>
</configuration>