<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="TargetTimeZone" value="Vladivostok Standard Time" />
        <add key="TargetTimeZoneLabel" value="Время местное: " />
        <add key="SpeechTimeLimit" value="00:00:30" />
        <add key="SignalSound" value="\Resources\ring01.wav" />
        <add key="MainWindowBackground" value="#000000" />
        <add key="MainWindowForeground" value="#00ff00" />
        <add key="SpecialWindowBackground" value="\Resources\bg01.png" />
        <add key="MainWindowLocation" value="3" />
        <add key="SpecialWindowLocation" value="2" />
		<add key="UIUpdateIntervalMs" value="200" />
    </appSettings>
</configuration>